.search-container {
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 23px 0 0px 0px;
}

.form-container {
    width: 100%;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
}

.form-container input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    font-size: 20px;
}

::placeholder {
    color: #f3f6f5;
}