.team-row {
    border: 2px solid white;
    color: white;
    display: flex;
    max-width: 55rem;
    margin: 7rem 0 0 18rem;
}

.img-column {
    border: 2px solid white;
}

.details-column {
    /* border: 2px solid white; */
    color: antiquewhite;
    margin-left: 2rem;
    width: 20rem;
    text-align: center;
    padding-top: 5rem;
    
}

#name {

}